<p>Hey {{name}},</p>
<p>Please click below to confirm your email</p>
<p>
  <h2>Your verification code is :</h2>
  <h4>{{token}}</h4>
</p>

<p>If you did not request this email you can safely ignore it.</p>